<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ movie.title }}</title>
</head>

<body class="movieSearchContainer">
  <div class="movieSearchPage">
    <div class="moviePosterCard">
  <img class="moviePosterImg" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} poster">
    </div>
  <div class="movieInfoContainer">
  <div class="moviePosterInfo">
    <p class="movieInfoTitle">{{movie.title}}</p>
    <p><strong>Synopsis: </strong>{{ movie.overview }}</p>
    <p><strong>Release date:</strong> {{ movie.release_date }}</p>
    <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
    <p><strong>Rating:</strong> {{ movie.vote_average }}/10 ({{ movie.vote_count }} votes)</p>
  </div>
  </div>
    </div>

  <div class="addToWatchlist">
    <a href="/watchlist.handlebars">Add to Watchlist</a>
    <a href="/">Back to Homepage</a>
  </div>
</body>

