
<body>
<form action = "/search" method = "GET">
    <div class="field has-addons">
        <div class="control searchContainer">
            <input class="searchBar normal input is-large is-dark" type="text" name="query" placeholder="Search all horror movies...">
            <button type="submit" class="searchBtn button is-medium is-danger">Search</button>
        </div>
    </div>
    
<h1 class="titles">{{title}}</h1>
<div class="movie-container">
  {{#each movies}}
    <div class="movie-card">
      <h2 class="movieTitle"><a href="/movie/{{this.id}}">{{this.title}}</a></h2>
      <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="{{this.title}} poster">
    </div>
  {{/each}}
</body>
